.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(25vw, 300px), auto));
  grid-gap: 2rem;
  justify-items: center;
  align-items: stretch;
}

.grid-1 {
  grid-template-columns: 1fr;
}

@media all and (orientation: portrait) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(90vw, auto));
  }

  .grid-1 {
    grid-template-columns: 1fr;
  }
}
