.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-template-columns: repeat(auto-fill, minmax(45vmin, auto));
  grid-gap: 5vmin;
  justify-items: center;
  justify-content: center;
}
