@import "../utils/css/vars.css";

.card {
  width: 24vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  align-self: stretch;
  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.45);
  background-color: #fff;
}

@media all and (orientation: portrait) {
  .card {
    width: 90vw;
  }
}

@media all and (max-width: 900px) and (orientation: landscape) {
  .card {
    width: 36vw;
  }
}

.card:hover {
  vertical-align: middle;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.45);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
}

.card-cover {
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__body {
  padding: 5% 5%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__body-tags {
  font-weight: 700;
  font-size: 1rem;
  display: inline-flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.card__body-tag {
  margin-right: 5px;
  padding: 0 0.3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 0.2rem;
}

.card__body-tag:hover {
  border-width: 1.5px;
  transition: border-width 0.3s ease;
}

.card__body-header {
  font-weight: 900;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  line-height: 0.91;
  margin: 1rem 0;
}

.card__body-date {
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}

.body-content {
  --fs: 1.4rem;
  --lh: 1.6;
  --max-lines: 3;
  max-height: calc(var(--fs) * var(--lh) * var(--max-lines));
  font-size: var(--fs);
  line-height: var(--lh);
  font-weight: 400;
  overflow: hidden;
}

.card__body-link {
  font-size: 1rem;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.card__body-link:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card__body-link::after {
  content: " →";
}
